{{ "<!-- About section -->" | safeHTML }}
<section>
    {{ with .Site.Params.about.title }}<h2 id="about-me">{{ . }}</h2>{{ end }}

    <div class="blurb">
	    <p>
Soy Carlos Cordón ebanista y carpintero con más de 20 años de experiencia.
Después de 14 años de andadura por Barcelona me he trasladado a mi tierra, La
Rioja.  El objetivo principal de mi empresa siempre ha sido el de adaptarme a
los gustos y necesidades del cliente, ofreciendo siempre calidad en los
productos y en los resultados del trabajo realizado.  Estoy muy interesado en
la construcción de casas eficientes y por ello he participado en el curso Fusta
Constructiva y he obtenido el Certificado Tradesperson del Instituto Passive
House.
	    </p>
    </div>

</section>

<section>
    <h2 id="servicios">Servicios</h2>

    <div class="blurb">
	    <h3>MUEBLES A MEDIDA</h3>
	    <p>Me dedico a la fabricación e instalación de muebles a medida, puertas,ventanas, 
cocinas, suelos, escaleras, armarios empotrados... Todo lo que necesites para tu casa.
	    </p>
	    <h3>DISEÑO DE PROYECTOS</h3>
	    <p>Desarrollo proyectos personalizados a medida y estilo solicitados, desde la idea hasta
	    el final de la obra. Asesorando en la distribución y cuidando mucho los acabados para la
	    mayor satisfacción del cliente.
	    </p>
	    <h3>CARPINTERÍA PARA EXTERIOR</h3>
	    <p>
	    Hago la construcción de estructuras de madera con tratamientos duraderos y de bajo mantenimiento. 
Colaboro con arquitectos, interioristas, escenógrafos, diseñadores y empresas de reformas. 
Trabajo la madera de manera tradicional detallada, personalizada y de calidad. 
	    </p>
    </div>

</section>
